<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-padrao}">
<head>
</head>

<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8">
                    <h2>Cadastro de Série</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <a class="btn btn-primary" th:href="@{/serie/page}">
                        <i class="fa fa-table"></i> Lista de Séries
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <form method="POST" class="form-vertical" th:object="${serie}"
              th:action="@{/serie/}">

            <input type="hidden" th:field="*{id}"/>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" th:field="*{nome}"/>
                <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button class="btn  btn-primary" type="submit">
                    <i class="fa fa-save"></i>&nbsp; Salvar
                </button>
            </div>
        </form>
    </div>
</section>
</body>
</html>
