<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">
<head>
    <title layout:fragment="title">Ahoy! | Home</title>
</head>
<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid mt-0">
			
			<div class="row my-1">
				<a th:href="@{/category/page}" class="btn btn-primary">Lista de Categorias</a>
			</div>
			<div class="row my-1">
				<a th:href="@{/supplier/page}" class="btn btn-primary">Lista de Fornecedores</a>
			</div>
			<div class="row my-1">
				<a th:href="@{/brand/page}" class="btn btn-primary">Lista de Marcas</a>
			</div>
			<div class="row my-1">
				<a th:href="@{/product/page}" class="btn btn-primary">Lista de Produtos</a>
			</div>
			<div class="row my-1">
				<a th:href="@{/purchase/page}" class="btn btn-primary">Lista de Compras</a>
			</div>
        </div>
    </div>
</section>
</body>
</html>
