<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default-layout}">
<head>
</head>
<title layout:fragment="title">Ahoy! | Navio de Compras</title>

<body>
<section layout:fragment="conteudo">
    <div class="page-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8">
                    <h2>Seu Navio de Compras:</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div class="row">

        </div>

    </div>


</section>
</body>
</html>
